CMakeLists.txt.user
CMakeCache.txt
CMakeFiles
CMakeScripts
Testing
Makefile
cmake_install.cmake
install_manifest.txt
compile_commands.json
CTestTestfile.cmake
_deps

build/
*-venv/
sdkconfig
sdkconfig.old

/.vscode/

node_modules/

*.pb.cc
*.pb.h