[submodule "protocol/nanopb"]
	path = protocol/nanopb
	url = https://github.com/nanopb/nanopb.git
[submodule "firmware/port/XMC4/mtb-xmclib-cat3"]
	path = firmware/port/XMC4/mtb-xmclib-cat3
	url = https://github.com/Infineon/mtb-xmclib-cat3.git
[submodule "test/cpputest"]
	path = test/cpputest
	url = https://github.com/cpputest/cpputest.git
[submodule "example/mgt-boot"]
	path = example/mgt-boot
	url = git@github.com:mthielvoldt/mgt-boot.git
[submodule "firmware/port/STM32L4/stm32l4xx-hal-driver"]
	path = firmware/port/stm32l4/stm32l4xx-hal-driver
	url = https://github.com/STMicroelectronics/stm32l4xx-hal-driver.git
[submodule "firmware/port/STM32L4/cmsis_device_l4"]
	path = firmware/port/stm32l4/cmsis_device_l4
	url = https://github.com/STMicroelectronics/cmsis_device_l4.git
[submodule "firmware/port/STM32L4/CMSIS-Driver_STM32"]
	path = firmware/port/stm32/CMSIS-Driver_STM32
	url = https://github.com/Open-CMSIS-Pack/CMSIS-Driver_STM32.git
[submodule "firmware/port/stm32g4/cmsis-device-g4"]
	path = firmware/port/stm32g4/cmsis-device-g4
	url = https://github.com/STMicroelectronics/cmsis-device-g4.git
[submodule "firmware/port/stm32g4/stm32g4xx-hal-driver"]
	path = firmware/port/stm32g4/stm32g4xx-hal-driver
	url = https://github.com/STMicroelectronics/stm32g4xx-hal-driver.git
