[submodule "protocol/nanopb"]
	path = protocol/nanopb
	url = https://github.com/nanopb/nanopb.git
[submodule "firmware/port/XMC4/mtb-xmclib-cat3"]
	path = firmware/port/XMC4/mtb-xmclib-cat3
	url = https://github.com/Infineon/mtb-xmclib-cat3.git
[submodule "test/cpputest"]
	path = test/cpputest
	url = https://github.com/cpputest/cpputest.git
[submodule "example/mgt-boot"]
	path = example/mgt-boot
	url = https://github.com/mthielvoldt/mgt-boot.git
