
.plot-div {
  position: relative;
}


.plot-labels-div {
  position:absolute;
  top: 0px;
  width:100%;
  height: 70vh;
  overflow: hidden;
}

.plot-label {
  position: absolute;
  color: crimson;
}

.legend-container {
  display: flex;
}
.legend-item {
  /* width: 100%; */
  flex-basis: 20%;
  border: 1px solid #eaeaea;

}
.color-box {
  opacity: 100%;
  background-color:burlywood;
  display: inline-flex;
  width: 14px;
  height: 14px;
}