
.plot-div {
  position: relative;
  background-color: #242424;
  color: whitesmoke;
}

.canvas-container {
  position: relative;
  width:100%;
  height: 70vh;
}

canvas {
  width: 100%;
  height: 100%;
}

.plot-labels-div {
  position: absolute;
  overflow: hidden;
  top: 0;
  width: 100%;
  height: 100%;
  touch-action: none; /* disable panning on touch devices */
}

.plot-label {
  position: absolute;
  color: orange;
}

table.legend {
  /* display: flex; */
  /* flex-flow: row wrap; */
  border: 1px solid white;
  border-collapse: collapse;
  min-height: 22px;
  margin: 3px 0;
  letter-spacing: 0;  /* spaces letters out horizontally if > 0*/
  text-align: center;
}

td, th {
  /* flex: 0 0 auto; */
  border-style: dotted solid;
  border-width: 1px;
  border-color: #b1b1b1;
  padding: 0 6px;
}
th {
  border-bottom-style: solid;
}

.color-box {
  display: inline-block;  /* allows width + height */
  width: 13px;
  height: 13px;
  margin: auto 4px;
}